<!DOCTYPE html>
<html>

	<head>

		<meta charset="UTF-8">
		<title>PresençaFácil</title>

	   <link rel="stylesheet" href="style.css">
	   <link rel="stylesheet" href="bootstrap.css">

	</head>
	
	<body>

		<div class="header">
			<img src="logo.svg" alt="PresençaFácil" />
		</div>

		<div class="pagina-com-formulario">
		  <div class="form">
		    <form class="login-form">
		      <input type="text" placeholder="Número de Matrícula" id="matricula"/>
		      <input type="password" placeholder="Senha" id="senha"/>
		      <input type="text" placeholder="Endereço de e-mail" id="email"/>
		      <button onclick="fazerCadastro()">Criar conta</button>
		      <p class="message">Já está registrado? <a href="login.html" onclick="">Entrar</a></p>
		    </form>
		    <!-- <form class="login-form">
		      <input type="text" placeholder="username"/>
		      <input type="password" placeholder="password"/>
		      <button>login</button>
		      <p class="message">Not registered? <a href="#">Create an account</a></p>
		    </form> -->
		  </div>
		</div>
		
	</body>

</html>