<!DOCTYPE html>
<html>

	<head>

		<meta charset="UTF-8">
		<title>PresençaFácil</title>

	   <link rel="stylesheet" href="style.css">
	   <link rel="stylesheet" href="bootstrap.css">

	</head>
	
	<body>

		<div class="header">
			<img src="logo.svg" alt="PresençaFácil" />
		</div>

		<div class="pagina-com-formulario">
		  <div class="form">
		    <form class="login-form">
		    	<p><b>Entre com um captcha para marcar presença em uma aula.</b></p>
		      	<input type="text" placeholder="Captcha" id="captcha"/>
		      	<button onclick="validarCaptcha()">Marcar Presença</button>
		    </form>
		  </div>
		</div>

	</body>

</html>