<!DOCTYPE html>
<html>

	<head>

		<meta charset="UTF-8">
		<title>PresençaFácil</title>

	   <link rel="stylesheet" href="style.css">
	   <link rel="stylesheet" href="bootstrap.css">

	</head>
	
	<body>

		<div class="header">
			<img src="logo.svg" alt="PresençaFácil" />
		</div>

		<div class="pagina-com-formulario">
			<div class="form">
			    <form class="login-form">
			      <input type="text" placeholder="Número de Matrícula"/>
			      <input type="password" placeholder="Senha"/>
			      <button onclick="Login()">entrar</button>
			      <p class="message">Não está registrado? <a href="cadastro.html">Cadastre-se aqui</a></p>
			    </form>
			</div>
		</div>

	</body>

</html>